In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_excel('data_set_train-1.xlsx')

In [13]:
## 열과 행을 나타낸다. 
df.shape

(17400, 29)

In [16]:
df.columns

Index(['aptnm(아파트 이름)', 'yyyyqrt(거래년도 분기별)', 'price(가격)', 'con_year(건축년도)',
       'dong(동)', 'area(면적)', 'floor(층수)', 'Latitude(위도)', 'Longtitude(경도)',
       'gdp', 'e_grwth(경제성장률)', 'Seoul_l.rate(지가상승률)', 'house_rate(담보대출금리)',
       'dis_park(국립 공원과의 거리)', 'dis_highschool(고등학교와의 거리)',
       'dis_reconst(재개발 지역과의 거리)', 'dis_univ(대학과의 거리)',
       'dis_hospital(종합 병원과의 거리)', 'dis_museum(국립 박물관과의 거리)',
       'dis_subway(지하철역과의 거리)', 'brand_r(유명 아파트 브랜드순)', 'n_home(세대수)',
       'n_dong(동수)', 'parking_per(세대별 주차장수)', 'Heater(난방 시스템)', 'Yongpae(용적률)',
       'Gunpae(건폐율)', 'Highest(최고층)', 'Lowest(최저층)'],
      dtype='object')

In [22]:
df.describe()

,price(가격),con_year(건축년도),area(면적),floor(층수),Latitude(위도),Longtitude(경도),gdp,e_grwth(경제성장률),Seoul_l.rate(지가상승률),house_rate(담보대출금리),...,dis_hospital(종합 병원과의 거리),dis_museum(국립 박물관과의 거리),dis_subway(지하철역과의 거리),brand_r(유명 아파트 브랜드순),n_home(세대수),n_dong(동수),Yongpae(용적률),Gunpae(건폐율),Highest(최고층),Lowest(최저층)
count,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,...,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,17400.000000,16137.000000,15771.000000,17400.000000,17400.000000
mean,80334.523736,1992.928563,71.217003,7.451322,37.494002,127.060032,330970.131494,3.659925,0.064492,6.054785,...,1063.010719,985.858326,677.704437,1.147816,1724.199713,30.414713,251.880771,24.703887,13.693218,11.013908
std,45557.247993,10.250319,34.905756,5.627460,0.012002,0.017059,62803.867282,1.806509,0.322120,0.607412,...,523.568572,374.407888,394.313279,3.256703,1852.886244,42.795932,209.698580,15.030962,7.558171,5.629246
min,1000.000000,1978.000000,16.780000,-1.000000,37.460256,127.018178,225613.000000,-1.900000,-2.642750,5.263300,...,41.632692,87.490136,47.486971,0.000000,9.000000,1.000000,72.000000,12.000000,4.000000,3.000000
25%,53500.000000,1982.000000,42.550000,3.000000,37.484704,127.048360,277832.000000,2.700000,0.001632,5.499746,...,635.176776,693.430670,318.596967,0.000000,206.000000,2.000000,80.000000,16.000000,5.000000,5.000000
50%,74500.000000,1993.000000,59.950000,5.000000,37.493391,127.058356,335960.000000,3.500000,0.016252,5.883320,...,975.124492,1032.477721,579.455311,0.000000,900.000000,8.000000,223.000000,19.000000,14.000000,12.000000
75%,96000.000000,2004.000000,84.910000,11.000000,37.499314,127.071381,385702.000000,4.900000,0.099044,6.576878,...,1459.461217,1220.076628,899.616370,0.000000,2840.000000,34.000000,285.000000,26.000000,21.000000,15.000000
max,570000.000000,2014.000000,273.830000,45.000000,37.533197,127.103555,446835.000000,7.400000,0.624673,7.415442,...,3470.829811,3323.864542,2559.068365,15.000000,5040.000000,124.000000,2435.000000,204.000000,46.000000,26.000000

In [28]:
df.info  ## 어떠한 데이터를 나타내어서 보기 위한 것들

<bound method DataFrame.info of       aptnm(아파트 이름) yyyyqrt(거래년도 분기별)  price(가격)  con_year(건축년도) dong(동)  \
0          강남역우정에쉐르            2006Q1       9000            2004     역삼동
1          강남역우정에쉐르            2006Q1       9000            2004     역삼동
2           개포주공1단지            2006Q1      73000            1982     개포동
3           개포주공1단지            2006Q1      70000            1982     개포동
4           개포주공1단지            2006Q1      40000            1982     개포동
...             ...               ...        ...             ...     ...
17395         현대빌라트            2017Q3     179000            1998     청담동
17396        현대이스트빌            2017Q3     122500            1999     역삼동
17397         현대하이츠            2017Q3      64000            2004     역삼동
17398          현대한강            2017Q3     170000            1992     청담동
17399          현대한강            2017Q3     170000            1992     청담동

       area(면적)  floor(층수)  Latitude(위도)  Longtitude(경도)     gdp  ...  \
0         17.23          7     37.494204      127.043545  225613  ...
1         17.23          7     37.494204      127.043545  225613  ...
2         50.38          3     37.478407      127.061375  225613  ...
3         50.64          5     37.484609      127.067275  225613  ...
4         35.44          4     37.482445      127.051278  225613  ...
...         ...        ...           ...             ...     ...  ...
17395    169.63          8     37.526956      127.053126  446835  ...
17396    244.14          4     37.496260      127.046404  446835  ...
17397     96.21          1     37.491379      127.034880  446835  ...
17398    136.26          8     37.524675      127.056226  446835  ...
17399    136.26          8     37.524675      127.056226  446835  ...

       dis_subway(지하철역과의 거리)  brand_r(유명 아파트 브랜드순)  n_home(세대수)  n_dong(동수)  \
0                 849.353653                     0           52           1
1                 849.353653                     0           52           1
2                1486.178329                     0         5040         124
3                1160.598717                     0         5040         124
4                 650.325555                     0         5040         124
...                      ...                   ...          ...         ...
17395             874.719438                     0           14           1
17396             944.717800                     0           12           1
17397             812.764336                     0           12           1
17398             717.729425                     0           18           1
17399             717.729425                     0           18           1

       parking_per(세대별 주차장수)  Heater(난방 시스템)  Yongpae(용적률)  Gunpae(건폐율)  \
0                       0.75            개별난방         536.0         58.0
1                       0.75            개별난방         536.0         58.0
2                       0.49            개별난방          72.0         15.0
3                       0.49            개별난방          72.0         15.0
4                       0.49            개별난방          72.0         15.0
...                      ...             ...           ...          ...
17395                   1.85            개별난방         221.0         37.0
17396                   2.16            개별난방         239.0         46.0
17397                   1.25            개별난방         287.0         58.0
17398                      -            개별난방         290.0          NaN
17399                      -            개별난방         290.0          NaN

       Highest(최고층)  Lowest(최저층)
0                13           12
1                13           12
2                 5            5
3                 5            5
4                 5            5
...             ...          ...
17395             7            7
17396             6            6
17397             7            6
17398            10           10
17399            10           10

[17400 rows x 29 columns]>

In [34]:
df[df['Yongpae(용적률)'].isnull()].head()

,aptnm(아파트 이름),yyyyqrt(거래년도 분기별),price(가격),con_year(건축년도),dong(동),area(면적),floor(층수),Latitude(위도),Longtitude(경도),gdp,...,dis_subway(지하철역과의 거리),brand_r(유명 아파트 브랜드순),n_home(세대수),n_dong(동수),parking_per(세대별 주차장수),Heater(난방 시스템),Yongpae(용적률),Gunpae(건폐율),Highest(최고층),Lowest(최저층)
399,개포주공6단지,2006Q1,77100,1983,개포동,73.02,10,37.478407,127.061375,225613,...,1486.178329,0,1060,9,0.28,중앙난방,NaN,NaN,15,13
400,개포주공6단지,2006Q1,60600,1983,개포동,60.13,14,37.494581,127.075275,225613,...,316.902800,0,1060,9,0.28,중앙난방,NaN,NaN,15,13
401,개포주공6단지,2006Q1,49000,1983,개포동,53.06,13,37.484335,127.071381,225613,...,1155.513971,0,1060,9,0.28,중앙난방,NaN,NaN,15,13
402,개포주공6단지,2006Q1,59400,1983,개포동,60.13,2,37.484609,127.067275,225613,...,1160.598717,0,1060,9,0.28,중앙난방,NaN,NaN,15,13
403,개포주공6단지,2006Q1,59500,1983,개포동,60.13,14,37.478407,127.061375,225613,...,1486.178329,0,1060,9,0.28,중앙난방,NaN,NaN,15,13

In [46]:
df['Yongpae(용적률)'] = df['Yongpae(용적률)'].replace(np.nan, df['Yongpae(용적률)'].mean())
df['Gunpae(건폐율)'] = df['Gunpae(건폐율)'].replace(np.nan, df['Gunpae(건폐율)'].mean())

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17400 entries, 0 to 17399
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   aptnm(아파트 이름)              17400 non-null  object
 1   yyyyqrt(거래년도 분기별)          17400 non-null  object
 2   price(가격)                  17400 non-null  int64
 3   con_year(건축년도)             17400 non-null  int64
 4   dong(동)                    17400 non-null  object
 5   area(면적)                   17400 non-null  float64
 6   floor(층수)                  17400 non-null  int64
 7   Latitude(위도)               17400 non-null  float64
 8   Longtitude(경도)             17400 non-null  float64
 9   gdp                        17400 non-null  int64
 10  e_grwth(경제성장률)             17400 non-null  float64
 11  Seoul_l.rate(지가상승률)        17400 non-null  float64
 12  house_rate(담보대출금리)         17400 non-null  float64
 13  dis_park(국립 공원과의 거리)       17400 non-null  float64
 14  dis_highschool(고등학교와의 거리)  17400 non-null  float64
 15  dis_reconst(재개발 지역과의 거리)   17400 non-null  float64
 16  dis_univ(대학과의 거리)          17400 non-null  float64
 17  dis_hospital(종합 병원과의 거리)   17400 non-null  float64
 18  dis_museum(국립 박물관과의 거리)    17400 non-null  float64
 19  dis_subway(지하철역과의 거리)      17400 non-null  float64
 20  brand_r(유명 아파트 브랜드순)       17400 non-null  int64
 21  n_home(세대수)                17400 non-null  int64
 22  n_dong(동수)                 17400 non-null  int64
 23  parking_per(세대별 주차장수)      17400 non-null  object
 24  Heater(난방 시스템)             17400 non-null  object
 25  Yongpae(용적률)               17400 non-null  float64
 26  Gunpae(건폐율)                17400 non-null  float64
 27  Highest(최고층)               17400 non-null  int64
 28  Lowest(최저층)                17400 non-null  int64
dtypes: float64(15), int64(9), object(5)
memory usage: 3.8+ MB

In [48]:
df['dong(동)'].value_counts()

dong(동)
개포동     5866
역삼동     3729
대치동     2411
수서동     1937
도곡동     1032
청담동      868
논현동      636
삼성동      569
일원동      333
세곡동       17
압구정동       2
Name: count, dtype: int64

In [53]:
df['yyyyqrt(거래년도 분기별)'].value_counts()

yyyyqrt(거래년도 분기별)
2017Q1    780
2006Q1    703
2006Q3    682
2006Q4    670
2006Q2    562
2017Q2    537
2016Q3    419
2008Q2    416
2012Q4    416
2015Q2    405
2011Q3    397
2016Q1    389
2007Q4    386
2008Q1    385
2015Q3    373
2015Q1    370
2016Q2    369
2011Q4    367
2011Q1    357
2011Q2    353
2010Q1    353
2017Q3    352
2007Q2    349
2015Q4    348
2013Q3    343
2014Q4    336
2013Q2    334
2009Q1    325
2013Q1    325
2013Q4    323
2014Q1    317
2007Q3    315
2010Q4    313
2010Q3    310
2016Q4    306
2014Q3    304
2009Q2    303
2014Q2    298
2009Q3    295
2009Q4    280
2012Q2    277
2007Q1    270
2010Q2    241
2012Q1    238
2008Q3    219
2012Q3    204
2008Q4    186
Name: count, dtype: int64

In [65]:
## 데이터 슬라이싱을 해라
## 컬럼을 중심으로 다 슬라이싱 하는 것이다. 
data1 = df.loc[:, 'yyyyqrt(거래년도 분기별)' : 'Longtitude(경도)']
data1.info()
data1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17400 entries, 0 to 17399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yyyyqrt(거래년도 분기별)  17400 non-null  object
 1   price(가격)          17400 non-null  int64
 2   con_year(건축년도)     17400 non-null  int64
 3   dong(동)            17400 non-null  object
 4   area(면적)           17400 non-null  float64
 5   floor(층수)          17400 non-null  int64
 6   Latitude(위도)       17400 non-null  float64
 7   Longtitude(경도)     17400 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.1+ MB

,yyyyqrt(거래년도 분기별),price(가격),con_year(건축년도),dong(동),area(면적),floor(층수),Latitude(위도),Longtitude(경도)
0,2006Q1,9000,2004,역삼동,17.23,7,37.494204,127.043545
1,2006Q1,9000,2004,역삼동,17.23,7,37.494204,127.043545
2,2006Q1,73000,1982,개포동,50.38,3,37.478407,127.061375
3,2006Q1,70000,1982,개포동,50.64,5,37.484609,127.067275
4,2006Q1,40000,1982,개포동,35.44,4,37.482445,127.051278

In [77]:
dong = ['Chungdam', 'Apgujeong', 'Dogok', 'Samsung', 'Daechi', 'Gaepo', 'Yeocksam', 'Suseo']
lon = [127.0487, 127.0303, 127.0438, 127.0565, 127.0611, 127.0609, 127.0374, 127.1052]
lat = [37.5232, 37.5317, 37.4898, 37.5140, 37.4995, 37.4790, 37.4999, 37.4890]

## 다 연결을 해준다. 딕셔너리를
data = {'Dong' : dong, 'Longtitude' : lon, 'Lattitude' : lat}

## DataFrame은 파이선 딕셔너리를 표 형식으로 바꾸어준다. 
dong_data = pd.DataFrame(data = data)
dong_data

        Dong  Longtitude  Lattitude
0   Chungdam    127.0487    37.5232
1  Apgujeong    127.0303    37.5317
2      Dogok    127.0438    37.4898
3    Samsung    127.0565    37.5140
4     Daechi    127.0611    37.4995
5      Gaepo    127.0609    37.4790
6   Yeocksam    127.0374    37.4999
7      Suseo    127.1052    37.4890

In [81]:
## 동에 관한 데이터들을 수집, 가공하여서 그래프로 나타내보기 
plt.figure(figsize = (8, 5))